@font-face {
    font-family: 'Press Start 2P';
    src: url('../fonts/PressStart2P-Regular.ttf');
}

html {
    margin: 0;
    height: 100%;
    background-color: #212529;
    font-family: 'Press Start 2P', cursive;
}

body {
    margin: 0;
    height: 100%;
    background-color: #212529;
    padding: 3%;
    font-size: 13px;
}

.game-container {
    margin-bottom: 1%;
}