<div ng-cloak flex="60" flex-xs="100" style="width: 700px;">
    <md-card>
        <md-card-header></md-card-header>
        <md-tabs class="md-primary" md-center-tabs md-dynamic-height="true" md-border-bottom md-swipe-content md-align-tabs="bottom">
            <md-tab>
                <md-tab-label><i class="fa fa-user-circle"></i> Criar usuário</md-tab-label>
                <md-tab-body>
                    <md-content class="md-padding" style="height: 400px;" layout="column" layout-align="center center">
            
                        <div layout="column" layout-align="center center">
                            <span>Crie seu usuário agora mesmo e divirta-se</span>
                        </div>
            
                        <div layout="column" layout="center center" layout-margin>
                            <form name="frmCreateUser" ng-submit="createUser()" novalidate a utocapitalize autocomplete="off">
            
                                <div layout="column" layout-align="center center">
                                    <md-card-avatar>
                                        <img width="90" class="md-avatar" ng-src="{{user.image}}">
                                    </md-card-avatar>
            
                                    <div layout="row">
                                        <md-input-container layout-fill class="md-block">
                                            <input maxlength="15" autofocus ng-required="true" type="text" class="nes-input"
                                                ng-model="user.name" name="userName" />
                                        </md-input-container>
                                    </div>
            
                                    <md-button layout-fill type="submit" class="md-primary md-raised"
                                        ng-disabled="frmCreateUser.$invalid">Confirmar</md-button>
                                </div>
            
                                <div layout="row" layout-align="center center">
                                    ou acesse com
                                </div>
            
                                <div layout="row" layout-align="center center">
                                    <md-button ng-click="createWithFacebook()" class="md-icon-button md-primary" aria-label="Settings">
                                        <md-tooltip>Facebook</md-tooltip>
                                        <i class="fa fa-facebook-official"></i>
                                    </md-button>
                                    <md-button ng-click="createWithTwitter()" class="md-icon-button md-primary" aria-label="Settings">
                                        <md-tooltip>Twitter</md-tooltip>
                                        <i class="fa fa-twitter"></i>
                                    </md-button>
                                    <md-button ng-click="createWithGoogle()" class="md-icon-button md-primary" aria-label="Settings">
                                        <md-tooltip>Google</md-tooltip>
                                        <i class="fa fa-google"></i>
                                    </md-button>
                                </div>
                            </form>
                        </div>
                    </md-content>
                </md-tab-body>
            </md-tab>

            <md-tab>
                <md-tab-label><i class="fa fa-info-circle"></i> O que é STOP?</md-tab-label>
                <md-tab-body>
                    <md-content style="height: 400px;">
                        <div layout-padding id="overview">
                            <p>Adedonha!, Adedanha! ou Stop! é um jogo que consiste em desenhar-se uma tabela em tópicos em um
                                papel para cada jogador. Cada coluna da tabela recebe o nome de uma categoria de palavras como
                                animais, automóveis, nomes pessoais, cores etc., e cada linha representa uma rodada do jogo.</p>
                            <p>A cada rodada uma letra é sorteada. Os jogadores então devem preencher todas as colunas com
                                palavras que iniciam com essa letra. Quando um jogador preencher todas as colunas, ele pode
                                chamar STOP, fazendo com que todos os outros parem imediatamente de preencher suas colunas.</p>
                            <p>É calculada então a pontuação de cada jogador, sendo que respostas repetidas valem 5 pontos,
                                respostas não repetidas valem 10 pontos e respostas erradas ou em branco valem 0 pontos.</p>
                            <p>Para definir um vencedor, deve-se somar todas as pontuações dos jogadores em todas as rodadas,
                                quem obtiver o maior valor, é o vencedor!</p>
                        </div>
                    </md-content>
                </md-tab-body>
            </md-tab>
            
        </md-tabs>

    </md-card>
</div>