<!-- <div ng-if="!userNameValidated">
    <h1>Informe seu nome de usuário</h1>
    <input type="text" ng-model="player.userName" />
    
    <button ng-click="confirm()">Confirmar</button>
</div> -->

<div ng-if="!gameStarted">

    <h2>Jogadores</h2>
    <ul>
        <li ng-repeat="player in players">
            {{player.userName}} 
            <span ng-if="player.isReady" style="color: lightgreen;">Pronto</span>
            <span ng-if="!player.isReady" style="color: red;">Aguardando</span>
        </li>
    </ul>

    <button ng-click="changeStatus()" ng-if="!player.isAdmin"><span ng-if="player.isReady">Cancelar</span> <span ng-if="!player.isReady">Pronto</span></button>
    <button ng-disabled="!allPlayersReady" ng-click="startGame()" ng-if="player.isAdmin">Iniciar jogo</button>
    <p ng-if="player.isAdmin && !allPlayersReady">Para iniciar o jogo, todos os jogadores devem estar prontos</p>

</div>

<div ng-if="gameStarted && !roundFinished">
    
    <h1>Letra sorteada: {{gameConfig.currentRound.sortedLetter}}</h1>
    <h2>Rodada {{gameConfig.currentRound.number}}</h2>

    <div ng-repeat="theme in gameConfig.themes">
        <label for="theme">{{theme}}</label>
        <input ng-disabled="stopCalled" type="text" name="{{theme}}" ng-model="answers[gameConfig.themes[$index]]" />
    </div>

    <button ng-disabled="stopCalled" ng-click="stop()">STOP</button>

</div>

<div ng-if="roundFinished">
    
    {{ answersValidations }}
    <h1>Valide as respostas dos outros jogadores</h1>
    <div ng-repeat="answerValidation in answersValidations">
            
        <h3>{{answerValidation.theme}}</h3>
        Respostas dos jogadores
        <div ng-repeat="(key, value) in answerValidation.validations">
            {{key}}
            <input type="checkbox" ng-model="answerValidation.validations[key]" />
        </div>
        <button ng-click="validate(answerValidation)">Validar</button>
    </div>

</div>