<!-- <div ng-show="!hasUser">
    
    <h3>Crie um usuário</h3>
    <div class="nes-field">
        <label>UserName</label>
        <input type="text" class="nes-input" ng-model="newUser" />
    </div>
    <button type="button" class="nes-btn is-primary" ng-click="createUser()">Confirmar</button>

</div> -->

<div class="container-fluid" ng-show="!hasUser">
    <div class="col-md-6 offset-md-3">
        <div class="nes-container with-title">
                <p class="title">Crie um usuário</p>
            
            <div class="nes-field">
                <label>UserName</label>
                <input type="text" class="nes-input" ng-model="newUser" />
            </div>
            <button type="button" class="nes-btn is-primary" ng-click="createUser()">Confirmar</button>
            
        </div>
    </div>
</div>

<div ng-if="hasUser">
    <span class="nes-text is-primary">Seu usuário é: {{user.userName}}</span>
</div>

<div ng-if="hasUser">

    <button class="nes-btn is-primary" ng-click="newGame()">Novo jogo</button>

    <h1>Jogos disponíveis</h1>
    
    <table ng-if="!showGameDetails">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="game in games" ng-click="details(game)">
                <td>{{game.name}}</td>
                <td>{{game.isPrivate}}</td>
                <td>{{game.status}}</td>
            </tr>
        </tbody>
    </table>
</div>

<div ng-if="showGameDetails">
    
    <button ng-click="backToGames()">Voltar</button>

    <h1>{{gameDetails.name}}</h1>
    <h4>{{gameDetails.numberOfRounds}}</h4>
    
    <h4>Temas</h4>
    <div ng-repeat="theme in gameDetails.themes">
        {{ theme }}
    </div>

    <h4>Letras</h4>
    <div ng-repeat="letter in gameDetails.availableLetters">
        {{ letter }}
    </div>

    <button ng-click="joinGame()">Participar</button>

</div>
