<h5 class="nes-text is-warning">Letra sorteada: {{sortedLetter}}</h5>

<br />

<form novalidate autocomplete="off">
    <div class="form-row">
        <div class="form-group col-6 col-md-6" ng-repeat="answer in answers track by $index">
            <label for="{{answer.theme}}">{{answer.theme}}</label>
            <input style="text-transform: uppercase;" maxlength="15" class="nes-input form-control" ng-disabled="roundStopped" type="text"
                name="{{answer.theme}}" ng-model="answer.value" />
        </div>
    </div>
</form>

<div class="row">
    <div class="col-md-12">
        <button style="width: 100%;" class="nes-btn is-error" ng-disabled="roundStopped" ng-click="stop()"><i
                class="fa fa-stop"></i> STOP</button>
    </div>
</div>