<ul class="nes-list is-disc">
    <li ng-repeat="player in game.players">
        {{player.userName}}
        <span ng-if="player.isReady" style="color: lightgreen;">Pronto</span>
        <span ng-if="!player.isReady" style="color: red;">Aguardando</span>
    </li>
</ul>

<div class="row">
    
    <div class="col-12 col-md-12">
        <button ng-class="{ 'is-primary': !player.isReady, 'is-error': player.isReady }" class="nes-btn"
            ng-click="changeStatus()" ng-if="!player.isAdmin"><span ng-if="player.isReady">Cancelar</span> <span
                ng-if="!player.isReady">Pronto</span></button>
    </div>

    <div class="col-12 col-md-12">
        <button ng-class="{ 'is-primary': allPlayersReady, 'is-disabled': !allPlayersReady }" class="nes-btn"
            ng-disabled="!allPlayersReady" ng-click="startRound()" ng-if="player.isAdmin">Iniciar jogo</button>
    </div>
    
    <div class="col-12 col-md-12">
        <p ng-if="player.isAdmin && !allPlayersReady">Para iniciar o jogo, todos os jogadores devem estar prontos</p>
    </div>
</div>