<md-dialog>
    <md-dialog-content>
        <div class="md-dialog-content" layout="column" layout-align="center center">
            <h3>Essa é uma partida privada</h3>
            <h4>Digite a senha para prosseguir</h4>

            <form name="frmPassword" novalidate autocomplete="off">
                <div layout="row">
                    <md-input-container>
                        <input ng-required="true" ng-model="password" flex="100" type="password" />
                    </md-input-container>
                </div>
    
                <div layout="row" layout-align="center center">
                    <md-button ng-disabled="frmPassword.$invalid" class="md-primary" ng-click="confirm(password)">Confirmar</md-button>
                    <md-button class="md-alert" ng-click="cancel()">Cancelar</md-button>
                </div>
            </form>
        </div>
    </md-dialog-content>
</md-dialog>