<div class="row">
    <div class="col-1 col-md-3 offset-md-0">
        <p style="font-size: 13px; text-align: center; margin-bottom: 0px;">Jogador</p>
    </div>
    <div class="col-1 offset-2 col-md-3 offset-md-0">
        <p style="font-size: 13px; text-align: center; margin-bottom: 0px;">Rodada</p>
    </div>
    <div class="col-1 offset-2 col-md-3 offset-md-0">
        <p style="font-size: 13px; text-align: center; margin-bottom: 0px;">Tempo</p>
    </div>
    <div class="col-1 offset-2 col-md-3 offset-md-0">
        <p style="font-size: 13px; text-align: center; margin-bottom: 0px;">Pts</p>
    </div>
</div>

<div class="row">
    <div class="col-1 offset-1 col-md-3 offset-md-0">
        <p style="font-size: 13px; text-align: center;">{{user.userName}}</p>
    </div>
    <div class="col-1 offset-1 col-md-3 offset-md-0">
        <p style="font-size: 13px; text-align: center;">{{game.nextRoundNumber}}/{{game.numberOfRounds}}</p>
    </div>
    <div class="col-1 offset-2 col-md-3 offset-md-0">
        <p style="font-size: 13px; text-align: center;">
            {{currentAnswersTime}}
        </p>
    </div>
    <div class="col-1 offset-2 col-md-3 offset-md-0">
        <p style="font-size: 13px; text-align: center;">{{player.earnedPoints}}</p>
    </div>
</div>