<div flex="100" flex-xs="100">
    <md-card layout="column" md-whiteframe="24">
        <md-card-content layout-fill layout="row">

            <md-content flex="20" layout-fill>
                <div ng-include="'views/game/players.html'"></div>
            </md-content>

            <div layout="column" layout-align="end center" flex="50" ng-include="'views/game/main.html'"></div>

        </md-card-content>
    </md-card>
</div>

<!-- <div class="container">
    <div class="col-12 col-md-10 offset-md-1">
        <div class="nes-container is-dark with-title">

            <p class="title">{{ game.name }}</p>
            
            <ng-include src="'views/game-overview.html'"></ng-include>
            
            <div ng-if="scoreboard && scoreboard.length > 0 && (!roundStarted || gameFinished)">
                <ng-include src="'views/scoreBoard.html'"></ng-include>
                <br />
            </div>
            
            <div ng-if="!roundStarted && !gameFinished">
                <ng-include src="'views/game-waiting.html'"></ng-include>
            </div>

            <div ng-if="roundStarted && !roundStopped && !gameFinished">
                <ng-include src="'views/answers.html'"></ng-include>
            </div>
            
            <div ng-if="roundStopped && validationStarted">
                <ng-include src="'views/themeValidation.html'"></ng-include>
            </div>

            <div ng-if="gameFinished">
                <ng-include src="'views/endGame.html'"></ng-include>
            </div>
        </div>
    </div>
</div> -->