<div layout="row" layout-padding layout-margin layout-fill layout-align="center center" ng-if="!hasUser">
    <div layout="row" layout-fill layout-align="center center" ng-include="'views/user/create.html'"></div>
</div>

<div class="col-md-8 offset-md-2" ng-if="hasUser">
    
    <div class="row">
        <div class="col-12 col-md-12">
            <button ng-if="showGameDetails" class="nes-btn is-warning" ng-click="backToGames()"><i class="fa fa-arrow-left"></i> Voltar</button>
            <button class="nes-btn is-success" ng-click="newGame()"><i class="fa fa-plus"></i> Novo jogo</button>            
        </div>
    </div>

    <br />

    <div class="nes-container is-dark is-rounded container-fluid with-title" ng-if="!showGameDetails">
        
        <p class="title">Jogos</p>

        <p ng-if="!games || games.length == 0">Não há nenhum jogo disponível no momento</p>

        <div class="row" ng-if="games && games.length > 0">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-6 game-container" ng-repeat="game in games" ng-click="details(game)">
                        <div class="nes-container is-dark is-rounded">
                            <p style="text-align: center;">{{ game.name }}</p>
                            <div class="row">

                                <div class="col-4 col-md-4">
                                    <div class="row">
                                        <i style="margin: auto;" class="fa fa-users"></i>
                                    </div>
                                    <div class="row" style="text-align: center;">
                                        <p style="margin: auto;">{{game.playersInGame}}/{{game.numberOfPlayers}}</p>
                                    </div>
                                </div>

                                <div class="col-4 col-md-4">
                                    <div class="row">
                                        <i style="margin: auto;" class="fa fa-edit"></i>
                                    </div>
                                    <div class="row">
                                        <p style="margin: auto;">{{game.themes.length}}</p>
                                    </div>
                                </div>

                                <div class="col-4 col-md-4">
                                    <div class="row" style="margin: auto;">
                                        <i style="margin: auto;" class="fa fa-undo"></i>
                                    </div>
                                    <div class="row">
                                        <p style="margin: auto;">{{game.currentRound}}/{{game.rounds}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>            
                </div>
            </div>
        </div>

    </div>

    <div class="nes-container with-title is-dark" ng-if="showGameDetails">

        <p class="title">Resumo da sala</p>

        <h6 class="nes-text is-warning" style="text-align: center;">Temas</h6>

        <div class="row">
            <div ng-repeat="theme in gameDetails.themes track by $index">
                <a class="nes-btn is-error">{{ theme }}</a>
            </div>
        </div>
        
        <br />

        <h6 class="nes-text is-warning" style="text-align: center;">Letras</h6>
        <div class="row">
            <div ng-repeat="letter in gameDetails.availableLetters">
                <a class="nes-btn is-error">{{ letter }}</a>              
            </div>
        </div>

        <br />
        
        <div class="row">            
            <button class="nes-btn is-primary" ng-click="joinGame()"><i class="fa fa-sign-in"></i> Entrar</button>
        </div>
    </div>    

</div>