<div flex="75">
    <div layout="row" layout-align="end end" layout-fill>
        <div ng-include="'/views/user/info.html'"></div>
    </div>
    <md-card layout="column">

        <md-card-content style="max-height: 300px;" layout="row" layout-margin>
            
            <md-content flex="60">
                    
                <p layout="column" layout-align="center center" ng-if="!games || games.length == 0">
                    Não há nenhum jogo disponível no momento
                </p>

                <div ng-if="games && games.length > 0" layout="row" layout-wrap >
                    <md-card ng-repeat="game in games" flex="45" ng-click="details(game)">
                        <div layout="column" layout-align="center center" layout-padding>
                            <p>{{game.name}}</p>
                            <i ng-if="game.isPrivate" class="fa fa-lock">Privado</i>
                            <div layout="row" layout-fill layout-align="space-between center">
                                <div layout="column" layout-fill layout-align="center center">
                                    <i class="fa fa-users"></i> {{game.playersInGame}}/{{game.numberOfPlayers}}
                                </div>
                                <div layout="column" layout-fill layout-align="center center">
                                    <i class="fa fa-edit"></i> {{game.themes.length}}
                                </div>
                                <div layout="column" layout-fill layout-align="center center">
                                    <i class="fa fa-undo"></i> {{game.currentRound}}/{{game.rounds}}
                                </div>
                            </div>
                        </div>
                    </md-card>

                </div>
            </md-content>

            <md-content flex="40">
                
                <div layout="column" layout-align="center center">
                    
                    <p ng-if="!showGameDetails" layout="column" layout-align="center center" ng-if="!games || games.length == 0">
                        Selecione uma partida ao lado para visualizar os detalhes
                    </p>
                    
                    <div ng-if="showGameDetails" layout="column" layout-align="center center">
                        <h2>Temas</h2>
                        <md-chips ng-model="gameDetails.themes" readonly="true">
                            <md-chip-template>{{$chip}}</md-chip-template>
                        </md-chips>
                
                        <h2>Letras</h2>
                        <md-chips ng-model="gameDetails.availableLetters" readonly="true">
                            <md-chip-template>{{$chip}}</md-chip-template>
                        </md-chips>
                    </div>
                </div>
                        
            </md-content>

        </md-card-content>
        
        <div layout="row" layout-fill layout-padding layout-align="center center">
            <md-button class="md-primary md-raised" ng-click="newGame()"><i class="fa fa-plus"></i> Novo jogo</md-button>
            <md-button ng-disabled="!showGameDetails" class="md-primary md-raised" ng-click="joinGame()"><i class="fa fa-sign-in"></i> Entrar</md-button>
        </div>

    </md-card>
</div>