<div class="nes-container">
    <p class="title">
        <span ng-if="!gameFinished">Placar até o momento</span>
        <span ng-if="gameFinished">Placar final</span>
    </p>

    <div class="nes-table-responsive">
        <table class="nes-table is-bordered is-centered is-dark">
            <thead>
                <tr>
                    <th>Jogador</th>
                    <th>Pts na rodada</th>
                    <th>Pts na partida</th>
                </tr>
            </thead>
            <tbody>
                {{ game.scoreBoard }}
                <tr ng-class="{ 'is-primary': score.playerId == user.id }" class="nes-text" ng-repeat="score in scoreboard">
                    <td>{{score.userName}}</td>
                    <td>{{score.roundPontuation}}</td>
                    <td>{{score.gamePontuation}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>