<div ng-if="currentValidation">

    <span class="nes-text is-warning">Valide as respostas dos outros jogadores</span>

    <br />

    <span>{{currentValidationTime}}</span>

    <br />

    <h4>Tema: {{currentValidation.theme}}</h4>
    <p>Tema {{validationIndex + 1}} de {{groupedValidations.length}}</p>
    <div class="form-row">
        <div class="form-group col-6 col-md-4" ng-repeat="validation in currentValidation.validations">
            <label>
                <input ng-model="validation.valid" type="checkbox" class="nes-checkbox is-dark" />
                <span>{{validation.answer.value}}</span>
            </label>    
        </div>
    </div>

    <div class="row">
        <button class="nes-btn is-success" ng-click="finishValidation()">Confirmar</button>
    </div>
</div>

<p class="nes-text is-warning" ng-if="!currentValidation">Aguardando validação dos outros jogadores...</p>