<div ng-if="themeValidations">

    <span class="nes-text is-warning">Valide as respostas dos outros jogadores</span>

    <br />

    <span>{{currentValidationTime}}</span>

    <br />

    <h4>Tema: {{currentValidation.theme}}</h2>
    <div class="form-row">
        <div class="form-group col-6 col-md-4" ng-repeat="validation in currentValidation.validations">

            <label>
                <input ng-model="validation.valid" type="checkbox" class="nes-checkbox is-dark" />
                <span>{{validation.answer.value}}</span>
            </label>

            <div class="row">
                <button class="nes-btn is-success" ng-click="validate(themeValidations)">Voltar</button>
                <button ng-if="" class="nes-btn is-success" ng-click="validate(themeValidations)">Próximo</button>
            </div>

        </div>
    </div>
</div>

<p class="nes-text is-warning" ng-if="!themeValidations">Aguardando validação dos outros jogadores...</p>