<div layout="column" layout-align="center center" layout-padding ng-include="'views/game/summary.html'"></div>

<div layout="column" layout-align="center center" flex="30">
    <span>Temas</span>
    <md-chips ng-model="game.themes" readonly="true">
        <md-chip-template>{{$chip}}</md-chip-template>
    </md-chips>
</div>

<div layout="column" layout-align="center center" flex="30">
    <span>Letras disponiveis para sorteio</span>
    <md-chips ng-model="game.availableLetters" readonly="true" flex="30">
        <md-chip-template>{{$chip}}</md-chip-template>
    </md-chips>
</div>

<div layout="column" layout-align="center center" flex="30" ng-if="game.sortedLetters.length > 0">
    <span>Letras já sorteadas</span>
    <md-chips ng-model="game.sortedLetters" readonly="true" flex="30">
        <md-chip-template>{{$chip}}</md-chip-template>
    </md-chips>
</div>

<div layout="column" layout-align="center center">
    <md-button class="md-primary md-raised" ng-click="leave()"><i class="fa fa-sign-out"></i> Sair</md-button>
</div>