<div layout="column">

    <div ng-if="scoreboard && scoreboard.length > 0 && (!roundStarted || gameFinished)">
        <p>Placar da {{game.currentRoundNumber - 1}}ª rodada</p>
        <ng-include src="'views/game/scoreBoard.html'"></ng-include>
    </div>

    <div layout-align="end center" layout="column" ng-if="!player.isAdmin">
        <md-button layout="row" class="md-raised" ng-class="{ 'md-primary': !player.isReady, 'md-warn': player.isReady }" ng-click="changeStatus()" ng-if="!player.isAdmin"><span ng-if="player.isReady"><i class="fa fa-thumbs-down"></i> Não estou pronto</span> <span ng-if="!player.isReady"><i class="fa fa-thumbs-up"></i> Estou Pronto</span></md-button>
    </div>

    <div layout-align="end center" layout="column" ng-if="player.isAdmin">
        <md-button layout="row" class="md-raised" ng-class="{ 'md-primary': allPlayersReady, 'md-warn': !allPlayersReady }" ng-disabled="!allPlayersReady" ng-click="startRound()"><i class="fa fa-rocket"></i> Iniciar jogo</md-button>
        <p ng-if="player.isAdmin && !allPlayersReady">Para iniciar o jogo, todos os jogadores devem estar prontos</p>
    </div>

</div>