<md-list layout-fill>
    <md-list-item class="md-2-line" ng-repeat="player in game.players track by $index">
        <img md-colors="{ 'border-color': player.id === user.id ? 'primary' : 'accent' }" class="md-avatar" ng-src="{{player.imageUri}}" />
        <div class="md-list-item-text" layout="column">
            <h3>{{ player.userName }} <span ng-if="player.id === user.id">(você)</span>
                <i ng-if="player.isAdmin" class="fa fa-star"><md-tooltip>Administrador da partida</md-tooltip></i>
            </h3>            
            <h4>{{ player.totalPontuation }} pts</h4>
            <h3>
                <span ng-if="player.isReady">Pronto</span>
                <span ng-if="!player.isReady">Aguardando...</span>
            </h3>
        </div>        
        <md-divider ng-if="!$last"></md-divider>
    </md-list-item>
</md-list>