<span>{{game.name}} <i ng-if="game.isPrivate" class="fa fa-lock"></i></span>

<div layout="row" layout-fill layout-align="space-between center">
    <div layout="column" layout-fill layout-align="center center">
        <i class="fa fa-users"></i> {{game.numberOfPlayers}}/{{game.maxNumberOfPlayers}}
    </div>
    <div layout="column" layout-fill layout-align="center center">
        <i class="fa fa-edit"></i> {{game.themes.length}}
    </div>
    <div layout="column" layout-fill layout-align="center center">
        <i class="fa fa-clock-o"></i> {{game.time}}
    </div>
    <div layout="column" layout-fill layout-align="center center">
        <i class="fa fa-undo"></i> {{game.currentRoundNumber}}/{{game.numberOfRounds}}
    </div>
</div>