<div layout="column" ng-if="currentValidation">

    <div layout="column" layout-align="center center">
        <span class="nes-text is-warning">Tema {{currentValidation.theme}}</span>
        <span>Valide as respostas</span>
    
        <md-content style="max-height: 120px;" layout="column" layout-padding>
            <div layout="row" layout-wrap>
                <md-checkbox ng-model="validation.valid" ng-repeat="validation in currentValidation.validations">
                    {{validation.answer.value}}
                </md-checkbox>
            </div>
        </md-content>
    </div>

    <div layout="row" layout-align="center center">
        <i class="fa fa-clock-o"></i>
        <md-progress-linear flex="30" md-mode="determinate" value="{{currentValidationTimePercentage}}"></md-progress-linear>
    </div>

    <div layout="column" layout-align="center center" layout-fill layout-padding>
        <md-button ng-disabled="currentValidationTimePercentage === 100" class="md-primary md-raised" ng-click="finishValidation()"><i class="fa fa-check"></i> Validar respostas</md-button>
        <span>{{currentValidation.number}} de {{currentValidation.total}}</span>
    </div>
</div>

<div layout="row" layout-align="center center">
    <p ng-if="!currentValidation && !validationTimeOver">Aguardando validação dos outros jogadores...</p>
</div>